{{template "base" .}}

{{define "title"}}Add Stream{{end}}

{{define "main"}}
<div class="flex justify-center pt-20">
  <form class="w-2/5 mb-12" action='/admin/add' method='POST' novalidate>
    <h1 class="text-5xl pb-4">Add Stream</h1>
    {{ with .Flash.stream }}
      <p class="bold pb-4 text-green-400">{{ . }}</p>
    {{ end }}
    <p class="pb-3">
      Add a stream, you can always edit this later.
    </p>
    <div>
    {{ with .Errors.stream }}
      <p class="bold text-red-400 pb-3">{{ . }}</p>
    {{ end }}
      <div class="bg-gray-900 rounded-md px-6 py-4 w-full">
        <div>
          <label class="font-bold uppercase text-xs">Name*</label>
          <input class="h-8 px-2 appearance-none text-gray-900 w-full rounded block" type='text' name='name' placeholder='Name of the stream'>
        </div>
        <div class="pt-3">
          <label class="font-bold uppercase text-xs">Follow</label>
          <input class="h-8 px-2 appearance-none text-gray-900 w-full rounded block" type='text' name='follow' placeholder='Users to track'>
        </div>
        <div class="pt-3">
          <label class="font-bold uppercase text-xs">Track</label>
          <input class="h-8 px-2 appearance-none text-gray-900 w-full rounded block" type='text' name='track' placeholder='Keywords, and hashtags to track (comma separated)'>
        </div>
        <div class="pt-3">
          <label class="font-bold uppercase text-xs">Locations</label>
          <input class="h-8 px-2 appearance-none text-gray-900 w-full rounded block" type='text' name='locations' placeholder='Bounding box of coordinates'>
        </div>
        <div class="pt-3">
          <label class="font-bold uppercase text-xs">Exclude</label>
          <input id="exclusion" class="h-8 px-2 appearance-none text-gray-900 w-full rounded block" type='text' name='exclude' placeholder='Keywords to exclude from the network (comma separated)'>
          <p id="exclusion-warning" class="text-yellow-400 pt-2"></p>
        </div>
        <div class="pt-3">
          <p class="pb-1 font-bold uppercase text-xs">Edges types</p>
          <input type="checkbox" id="retweetsNet" name="retweetsNet" value="y" checked />
          <label class="pr-6" for="retweetsNet">Retweets</label>
          <input type="checkbox" id="mentionsNet" name="mentionsNet" value="y" checked />
          <label class="pr-6" for="retweetsNet">Mentions</label>
          <input type="checkbox" id="hashtagsNet" name="hashtagsNet" value="y" checked />
          <label class="pr-6" for="hashtagsNet">Hashtags</label>
          <input type="checkbox" id="replyNet" name="replyNet" value="y" checked />
          <label class="pr-6" for="replyNet">Replies</label>
        </div>
        <div class="pt-3">
          <p class="pb-1 font-bold uppercase text-xs">Filter</p>
          <input type="radio" id="filter_level_none" name="filterLevel" value="none" />
          <label class="pr-6" for="none">None</label>
          <input type="radio" id="filter_level_low" name="filterLevel" value="low" checked/>
          <label class="pr-6" for="none">Low</label>
          <input type="radio" id="filter_level_medium" name="filterLevel" value="medium" />
          <label class="pr-6" for="none">Medium</label>
        </div>
        <div class="pt-3">
          <label class="font-bold uppercase text-xs">Maximum edges on screen: <span id='rangeMaxEdges'>2000</span></label>
          <br/>
          <input id="maxEdges" class="rounded-sm overflow-hidden w-full" type='range' name='maxEdges' min='200' max='10000' value='2000' step='100'>
        </div>
        <div class="pt-3">
          <div class="grid grid-cols-3 gap-4">
            <div class="pt-3">
              <label class="font-bold uppercase text-xs">Minimum Followers</label>
              <input class="h-8 px-2 appearance-none text-gray-900 w-full rounded block" type='numeric' name='minFollowerCount' value="0">
            </div>
            <div class="pt-3">
              <label class="font-bold uppercase text-xs">Minimum Favourites</label>
              <input class="h-8 px-2 appearance-none text-gray-900 w-full rounded block" type='numeric' name='minFavoriteCount' value="0">
            </div>
            <div class="pt-3">
              <p class="pb-1 font-bold uppercase text-xs">Verified Users</p>
              <input type="checkbox" id="filter_level_none" name="onlyVerified" />
              <label class="pr-6" for="none">Only verified</label>
            </div>
          </div>
        </div>
        <div class="pt-3">
          <div class="grid grid-cols-2 gap-4">
            <div class="pt-3">
              <label class="font-bold uppercase text-xs">Maximum Hashtags: <span id='rangeMaxHashtags'>0</span></label>
              <br/>
              <input id="maxHashtags" class="rounded-sm overflow-hidden w-full" type='range' name='maxHashtags' min='0' max='25' value='0' step='1'>
            </div>
            <div class="pt-3">
              <label class="font-bold uppercase text-xs">Maximum Mentions: <span id='rangeMaxMentions'>25</span></label>
              <br/>
              <input id="maxMentions" class="rounded-sm overflow-hidden w-full" type='range' name='maxMentions' min='0' max='25' value='25' step='1'>
            </div>
          </div>
        </div>
        <div class="pt-3">
          <label class="font-bold uppercase text-xs">Description</label>
          <br/>
          <input id="desc" class="h-24 px-2 appearance-none text-gray-900 w-full rounded block" type="text" name="desc"/>
        </div>
        <div>
          <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
          <input class="cursor-pointer block bg-background text-gray-300 rounded-sm mt-4 px-4 py-2" type='submit' value='Add'>
        </div>
      </div>
    </div>
    <p class="pt-4">Go back to the <a href="/admin" class="underline">admin area</a>.</p>
  </form>
  <script>
    var rng = document.getElementById("maxEdges");
    rng.addEventListener("change", function(){
      var sp = document.getElementById("rangeMaxEdges");
      sp.innerText = rng.value;
    });

    var rngH = document.getElementById("maxHashtags");
    rngH.addEventListener("change", function(){
      var sp = document.getElementById("rangeMaxHashtags");
      sp.innerText = rngH.value;
    });

    var rngM = document.getElementById("maxMentions");
    rngM.addEventListener("change", function(){
      var sp = document.getElementById("rangeMaxMentions");
      sp.innerText = rngM.value;
    });

    var excl = document.getElementById("exclusion");
    excl.addEventListener("input", function(){
      var sp = document.getElementById("exclusion-warning");
      sp.innerText = "This is case sensitive!";
    });
  </script>
</div>
{{end}}
