{{template "base" .}}

{{define "title"}}Admin Area{{end}}

{{define "main"}}
<div class="container mx-auto">
  <h1 class="uppercase text-4xl">Admin Area</h1>
  <div>{{ .License.License }}</div>
</div>
{{end}}