{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="/static/compiled.min.css">
        <title>{{template "title" .}} - Skeef</title>
    </head>
    <body class="bg-background text-white mx-auto px-12">
        <header>
        
        </header>
        <main>
            {{template "main" .}}
        </main>
        <!-- Invoke the footer template -->
        {{template "footer" .}}
    </body>
</html>
{{end}}
