{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
<div>
  <style>
    #graph{
      width: 100%;
      height: 100vh;
    }
  </style>
  <h1>Homepage</h1>
  <div id="graph"></div>
</div>
{{end}}