{{template "base" .}}

{{define "title"}}Initial Setup{{end}}

{{define "main"}}
<div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4">
  <h1>Setup</h1>
</div>
{{end}}