{{template "base" .}}

{{define "title"}}Setup{{end}}

{{define "main"}}
<div class="flex justify-center pt-20">
    <form action='/setup' method='POST' novalidate>
        <h1 class="text-center text-5xl pb-4">First time setup</h1>
        <p class = "text-center text-xl pb-4">Create your admin account</p>
        <div>
            <div class="bg-gray-900 rounded-md px-6 py-4">
                <div>
                    {{with .Errors.exists}}
                        <span class="text-red-400">{{.}}</span>
                        <br/>
                    {{end}}
                    <label class="font-bold uppercase text-xs">Email</label>
                    <input class="h-8 px-2 appearance-none text-gray-900 w-full rounded block" type='email' name='email' placeholder='me@email.com'>
                </div>
                <div class="pt-3">
                    <label class="font-bold uppercase text-xs">Password</label>
                    <input class="h-8 px-2 appearance-none text-gray-900 w-full rounded block" type='password' name='password'>
                </div>
                <div class="pt-3">
                    <label class="font-bold uppercase text-xs">Repeat password</label>
                    <input class="h-8 px-2 appearance-none text-gray-900 w-full rounded block" type='password' name='password2'>
                </div>
                    {{with .Errors.password}}
                        <span class="text-red-400 pt-4 italic">{{.}}</span>
                        <br/>
                    {{end}}
                <div>
                    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                    <input class="block bg-background text-gray-300 rounded-sm mt-4 px-4 py-2" type='submit' value='Create'>
                </div>
            </div>
        </div>
    <p class="pt-4 italic">
        Once this account created you will be able to log back
        in the admin area. 
    </p>
    </form>
</div>
{{end}}
