{{template "base" .}}

{{define "title"}}Stream{{end}}

{{define "main"}}
<div class="flex justify-center pt-20">
  <form class="w-2/5 mb-12" action='/admin/edit' method='POST' novalidate>
    <h1 class="text-5xl pb-4 px-4">Edit Stream</h1>
    {{ with .Flash.success }}
      <p class="uppercase bold">{{ . }}</p>
    {{ end }}
    {{ with .Errors.failure }}
      <p class="uppercase bold text-red-400">{{ . }}</p>
    {{ end }}
    <p class="pb-3 px-4">
      The stream is currently
      {{ if .Stream.Active }}
      <span class="w-4 text-green-400">running</span>
      {{ else }}
      <span class="w-4 text-red-400">paused</span>
      {{ end }}
    </p>
    <div>
      <div class="bg-gray-900 rounded-md px-6 py-4 w-full">
        <div>
          <label class="font-bold uppercase text-xs">Name</label>
          <input class="h-8 px-2 appearance-none text-gray-900 w-full rounded block" type='text' name='name' value='{{ .Stream.Name }}'>
        </div>
        <div class="pt-3">
          <label class="font-bold uppercase text-xs">Follow</label>
          <input class="h-8 px-2 appearance-none text-gray-900 w-full rounded block" type='text' name='follow' value='{{ .Stream.Follow }}'>
        </div>
        <div class="pt-3">
          <label class="font-bold uppercase text-xs">Track</label>
          <input class="h-8 px-2 appearance-none text-gray-900 w-full rounded block" type='text' name='track' value='{{ .Stream.Track }}'>
        </div>
        <div class="pt-3">
          <label class="font-bold uppercase text-xs">Locations</label>
          <input class="h-8 px-2 appearance-none text-gray-900 w-full rounded block" type='text' name='locations' value='{{ .Stream.Locations }}'>
        </div>
        <div class="pt-3">
          <label class="font-bold uppercase text-xs">Exclude</label>
          <input id="exclusion" class="h-8 px-2 appearance-none text-gray-900 w-full rounded block" type='text' name='exclude' value='{{ .Stream.Exclusion }}'>
          <p id="exclusion-warning" class="text-yellow-400 pt-2"></p>
        </div>
        <div class="pt-3">
          <p class="pb-1 font-bold uppercase text-xs">Edges types</p>
          <input type="checkbox" id="retweetsNet" name="retweetsNet" value="y" {{ if .Stream.RetweetsNet }} checked {{ end }} />
          <label class="pr-6" for="retweetsNet">Retweets</label>
          <input type="checkbox" id="mentionsNet" name="mentionsNet" value="y" {{ if .Stream.MentionsNet }} checked {{ end }} />
          <label class="pr-6" for="retweetsNet">Mentions</label>
          <input type="checkbox" id="hashtagsNet" name="hashtagsNet" value="y" {{ if .Stream.HashtagsNet }} checked {{ end }} />
          <label class="pr-6" for="hashtagsNet">Hashtags</label>
        </div>
        <div class="pt-3">
          <p class="pb-1 font-bold uppercase text-xs">Filter</p>
          <input type="radio" id="filter_level_none" name="filterLevel" value="none" {{ if eq .Stream.FilterLevel "none" }} checked {{ end }} />
          <label class="pr-6" for="none">None</label>
          <input type="radio" id="filter_level_low" name="filterLevel" value="low" {{ if eq .Stream.FilterLevel "low" }} checked {{ end }}/>
          <label class="pr-6" for="none">Low</label>
          <input type="radio" id="filter_level_medium" name="filterLevel" value="medium" {{ if eq .Stream.FilterLevel "medium" }} checked {{ end }} />
          <label class="pr-6" for="none">Medium</label>
        </div>
        <div class="pt-3">
          <label class="font-bold uppercase text-xs">Maximum edges on screen: <span id='rangeMaxEdges'>{{ .Stream.MaxEdges }}</span></label>
          <br/>
          <input id="maxEdges" class="rounded-sm overflow-hidden w-full" type='range' name='maxEdges' min='200' max='10000' value='{{ .Stream.MaxEdges }}' step='100'>
        </div>
        <div class="pt-3">
          <div class="grid grid-cols-3 gap-4">
            <div class="pt-3">
              <label class="font-bold uppercase text-xs">Minimum Followers</label>
              <input class="h-8 px-2 appearance-none text-gray-900 w-full rounded block" type='numeric' name='minFollowerCount' value='{{ .Stream.MinFollowerCount }}'>
            </div>
            <div class="pt-3">
              <label class="font-bold uppercase text-xs">Minimum Favourites</label>
              <input class="h-8 px-2 appearance-none text-gray-900 w-full rounded block" type='numeric' name='minFavoriteCount' value='{{ .Stream.MinFavoriteCount }}'>
            </div>
            <div class="pt-3">
              <p class="pb-1 font-bold uppercase text-xs">Verified Users</p>
              <input type="checkbox" id="filter_level_none" name="onlyVerified" {{ if .Stream.OnlyVerified }} checked {{ end }} />
              <label class="pr-6" for="none">Only verified</label>
            </div>
          </div>
        </div>
        <div class="pt-3">
          <label class="font-bold uppercase text-xs">Description</label>
          <br/>
          <input id="desc" class="px-2 appearance-none text-gray-900 w-full rounded block h-24" type="text" name="desc" value="{{ .Stream.Description }}"/>
        </div>
        <div>
          <input type='hidden' name='currentName' value='{{ .Stream.Name }}'>
          <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
          <input class="cursor-pointer block bg-background text-gray-300 rounded-sm mt-4 px-4 py-2" type='submit' value='Update'>
        </div>
      </div>
    </div>
    <p class="pt-4 px-4">Go back to the <a href="/admin" class="underline">admin area</a></p>
  </form>
  <script>
    var rng = document.getElementById("maxEdges");
    rng.addEventListener("change", function(){
      var sp = document.getElementById("rangeMaxEdges");
      sp.innerText = rng.value;
    });

    var excl = document.getElementById("exclusion");
    excl.addEventListener("input", function(){
      var sp = document.getElementById("exclusion-warning");
      sp.innerText = "This is case sensitive!";
    });
  </script>
</div>
{{end}}
