@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.manage-streams{
  cursor: pointer;
}

#graph{
  width: 100%;
  height: 90vh;
}

canvas:focus {
  outline: none;
}
